<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs',title=title ) %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <h1>This is About</h1>
        <%- include('../partials/footer') %>
</body>

</html>